:root{
    --fondo-principal:#f2f2f2;
    --texto-blanco:#fff;
    --texto-negro:#0b0b0b;


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--fondo-principal)
}   
header{
    padding-top: 40px;
    width: 100%;
}
h1{
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
}
h1 + p{
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 5px;
    padding-bottom: 10px;
}


.main--form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 1.6rem;
    font-weight: 700;
}
.div--primary{
    background-color:var(--texto-negro);
    color: var(--texto-blanco);
    outline: none;
}
.input-main{
    border: none;
    border-bottom: 1px solid;
    width: 70%;

}
.tolinput{
    background-color: var(--texto-negro);
    color: var(--texto-blanco);
    border: none;
    width: 70%;
    margin-left: 20px;

}
.order-number{
    margin-left: 145px;
}
hr{
    grid-column: 1/3;   
    border-color: var(--texto-negro);
    border: 2px solid;
}
.radio{
    border: none;
    border-bottom: 1px solid;
}
input[type="radio"]{
appearance: listitem;
    background-color: aquamarine;
}
span{
    font-weight: 100;
}
.tabla{
    grid-column: 1/3;
    width: 100%;
}
table{
    width: 100%;
    border: 1px solid;
}
tr,td{
    border: 1px solid;
}
footer{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--texto-negro);
}

footer .note{
font-size: 1.7rem;
font-style: italic;
font-weight: 900;
}
.telfax{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.telfax span{
    font-weight: 700;
}
.direccion p{
    font-weight: 700;
}